@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    overflow: hidden;
    background-color: #EFE8DD;
} */

.news-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    background-color: #E9F4FF;
}

.news-container .title {
    position: absolute;
    background: #4B2DCC;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 40s infinite linear;
}

.news-container ul li {
    white-space: nowrap;
    padding: 20px 24px;
    color: black;
    position: relative;
    font-weight: bold;
    font-size: 36px;
    line-height: 32px;
}

.news-container ul li::after {
    content: "";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-200%);

    }
}